<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
  </head>
  <body>
    <h1>{{title}}</h1>
    <img src="/img/robot.png" alt="robot">
    <p>Created by {{name}}</p>
    <!-- views before the motification -->
  </body>
</html>